body {
    font-family: 'Josefin Slab', serif;
}

img {
    max-height: 300px;
    max-width: 300px;
}


button {
    background-color: white;
    color: black;
    border: 2px solid black;
    margin: 5px 0px;
    width: 120px;
}

.bg, .bg2 {
    background-color: black;
    color: white;
    max-height: auto;
    width: 100%;
}

.bg {
    margin-bottom: 20px;
}

.bg1 {

    width: 300px;
    max-width: 300px;

}

.bg2 {
    bottom: 0%;
    position: fixed;
}