body {
    background-color: black;
    color: white !important;
    font-family: 'Josefin Slab', serif;
}

/* Edit overall style of navbar */
.navbar {
    font-family: 'Josefin Slab', serif !important;
    margin-bottom: 0;
    background-color: #f4511e;
    z-index: 9999;
    border: 0;
    letter-spacing: 4px;
    border-radius: 0;
}

/* Edit colour of list elements */
.navbar li a, .navbar .navbar-brand {
    color: black !important;
}

/* Change the colour of menu when mouseover */
.navbar-nav li a:hover, .navbar-nav li.active a {
    background-color: #fff !important;
}

/* Disable default colour of menu from bootstrap */
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

/*Customise the brand wording of the website */
.navbar-header .navbar-brand {
    font-size: 15px !important;
}